*/*
!kubejs/*
servers.dat_old
usernamecache.json
.gitignore
rhino.local.properties
*.log
1.20.1-NeoForge_47.1.106.jar
1.20.1-NeoForge_47.1.106.json
kubejs/README.txt
kubejs/assets/kubejs/textures/block/example_block.png
kubejs/assets/kubejs/textures/item/example_item.png
patchouli_data.json
usercache.json
!config/*
!.vscode/settings.json
!.gitignore
example.*